#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.flashcard {
    position: relative;
    background-color: hsl(0, 0%, 100%, 0.5);
    cursor: pointer;
    height: 10rem;
    aspect-ratio: 3 / 2;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 250ms ease-in-out;
}

.flashcard:hover {
    background-color: hsl(0, 0%, 100%, 0.8);
    scale: 1.1;
}

.flashcard-front,
.flashcard-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    letter-spacing: 0.025rem;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard-back {
    transform: rotateY(180deg);
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.mute-button,
.mute-button:focus,
.mute-button:hover {
    border: none;
    outline: none;
}

.mute-button {
    transition: all 250ms ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: transparent;
}
